.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #f4f4f4;
}

/* 폼 그룹 스타일링 */
.form-group {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들 사이에 공간을 균일하게 배분 */

    width: 100%;
    max-width: 800px; /* 폼 최대 너비 설정 */
    margin-bottom: 10px; /* 간격 조정 */
}

.form-group label {
    flex-shrink: 0; /* label 크기 고정 */
    width: 150px; /* label 폭 설정 */
    text-align: left; /* label 텍스트 왼쪽 정렬 */
    margin-left: 10px;
}

.form-group input,
.form-group button {
    flex-grow: 1; /* input 및 button이 남은 공간을 채움 */
    margin-left: 10px; /* label과 요소 사이 간격 */
    padding: 10px; /* 입력 필드 패딩 조정 */
}
.name-input {
    width: 50%; /* 혹은 적절한 비율로 조정 */
}


/* 버튼 그룹 스타일링 */
.button-group {
    display: flex;
    justify-content: center; /* 버튼 그룹을 중앙에 위치 */
    width: 100%;
    max-width: 800px; /* 버튼 그룹 최대 너비 설정 */
    margin-top: 20px; /* 폼 그룹과의 간격 */
}

/* 버튼 비활성화 스타일 */
.disabled {
    text-align: center;
    display: flex;
    justify-content: space-between;
    background-color: lightgray;
    color: white;
    pointer-events: none;
}

.input-group {
    display: flex;
    width: 100%; /* input-group 너비를 부모 요소에 맞춤 */
}

.input-group label {
    display: flex;
    width: 100%; /* input-group 너비를 부모 요소에 맞춤 */
}

.input-group input {
    flex: 1; /* 두 입력 필드가 공간을 균등하게 차지하도록 설정 */
    margin-left: 10px; /* 첫 번째 입력 필드 오른쪽에 간격 추가 */
}

/* 모달 스타일 */

.modal {
    display: none;
    align-items: center; /* 수직 중앙 정렬 */
    justify-items: center; /* 수평 중앙 정렬 */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
}

.modal-content {
    display: flex;
    flex-direction: column; /* 자식 요소를 세로 방향으로 정렬 */
    align-items: center; /* 가로 중심 정렬 */
    background-color: white;
    /*margin: auto;*/
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 90%; /* 화면 너비의 90% 사용 */
    max-width: 800px; /* 최대 너비 설정 */
    height: 550px; /* 적절한 높이 설정 */
}

.close {
    align-self: flex-end; /* close 버튼을 우측 상단에 배치 */
    font-size: 28px; /* 크기 조정 */
    cursor: pointer;
    margin-bottom: 5px; /* close 버튼과 modal-message 사이의 간격 */
}

.close:hover {
    color: blue;
}
.modal-message{
    height: 90%;
    width:90%;
}



/*사용자 동의 (체크박스)*/
.checkbox-group {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* 요소들을 컨테이너의 왼쪽에서 시작하도록 정렬 */
    padding: 10px;
    margin: 0 5px 10px 5px; /* 체크박스 그룹 주위 간격 */
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: calc(50% - 10px);  /* 기본 상태에서는 폭의 절반 사용 */
}
.checkbox-group.full-width {
/    width: 100%;  /* 전체 동의 체크박스는 전체 폭 사용 */
    justify-content: flex-start;  /* 체크박스와 라벨이 왼쪽 정렬 */
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px; /* 체크박스와 라벨 사이 간격 */
    width: 20px; /* 체크박스 크기 */
    height: 20px; /* 체크박스 크기 */
    flex-shrink: 0;  /* 체크박스 크기가 변하지 않도록 설정 */

}
.checkbox-group:last-child {
    margin-right: 0; /* 마지막 체크박스 그룹은 오른쪽 마진 없앰 */
}


.checkbox-group label {
    flex-grow: 1;
    margin-left: 10px;  /* 체크박스와 라벨 사이 간격 */
    cursor: pointer;
}
/* '필수 모두 동의' 체크박스 그룹 */
.checkbox-group.select-all-group {
    width: 30%; /* 공간 조정 */
    justify-content: flex-start; /* 내용을 왼쪽으로 정렬 */
}
/* 개인정보 동의 및 연계정보 체크박스 그룹 */
.checkbox-group.consent-group {
    width: 25%; /* 공간 조정 */
    justify-content: flex-start; /* 내용을 왼쪽으로 정렬 */
}

.select-all{
    margin-right: 10px; /* 체크박스와 라벨 사이 간격 */
    width: 20px; /* 체크박스 크기 */
    height: 20px; /* 체크박스 크기 */
}
/* 화살표 아이콘 (라벨의 오른쪽에 위치) */
.label-arrow {
    display: inline-block;
    margin-left: auto; /* 화살표를 오른쪽으로 밀어냄 */
}
.consent-label{
    cursor: pointer;
    text-decoration: underline;
}

